.content {
	background: rgb(141,188,39);
	background: linear-gradient(90deg, rgba(141,188,39,1) 0%, rgba(15,51,73,1) 50%, rgba(58,164,215,1) 100%);
	padding: 10px 20px;
	border-radius: 12px;
	width: 100%;
}

.title {
	color: #fff;
	text-align: start;
}